<h2> Create a Celebrity</h2>

<form action="/celebrities" method="POST">
<input type="text" placeholder="Enter name here...">
<input type="text" placeholder="Enter occupation here">
<textarea name="celebrities" placeholder="cathcphrase goes here..."></textarea>
</form>
  <button>Create</button>