<h2> Show </h2>
<p> {{ celebrities.name}}</p>
   <p> {{ celebrities.occupation }} </p>
  <p> {{  celebrities.catchphrase }} </p>

<a href="/celebrities/{{ celebrities.id }}">Edit celebrity details</a>
